<ul>
    <li>
        <NavLink hreef="" Match="NavLinkMatch.All">
            Home
        </NavLink>
    </li>
        <NavLink hreef="/new-bug">
            New Bug
        </NavLink>
    <li />
</ul>